<!-- app/views/templates/index.html.erb -->
<h1>Templates</h1>

<% if @category %>
  <h2>Category: <%= @category.name %></h2>
<% end %>

<% @templates.each do |template| %>
  <div class="template">
    <h3><%= template.title %></h3>
    <p><%= template.content %></p>
  </div>
<% end %>

<!-- Add links to categories -->
<% Category.all.each do |category| %>
  <%= link_to category.name, templates_path(category_id: category.id) %>
<% end %>
