<%# app/views/home/index.html.erb %>

<%#= render 'shared/navbar' %>

<%# ヒーローセクション %>
<section class="bg-hero text-center p-20">
  <div class="bg-white bg-opacity-50 w-full p-8 rounded-md">
    <h1 class="text-3xl mb-8 font-bold">プログラミング学習をサポートするプロンプトテンプレート共有プラットフォーム</h1>
    <p class="text-lg leading-relaxed mb-4">ChatGPTはプロンプトによって回答の質が変わります。</p>
    <p class="text-lg leading-relaxed mb-4">プロンプトテンプレートを効果的に利用することで、ChatGPTによる回答が理解しやすく、正確に設計することができます。</p>
    <p class="text-lg leading-relaxed">ここでは、あなたの学習を効果的に進めるためのプロンプトを見つけることができます。</p>
  </div>
</section>

<%# カテゴリ一覧表示%>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Category</h2>

      <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">Let's use the prompt template!</p>
    </div>
    <!-- text - end -->

    <!-- category - card -- start -->
    <div class="flex flex-wrap justify-around mb-16">
      <% @categories.each do |category| %>
        <div class="my-4">
          <%= render 'categories/card', category: category %>
        </div>
      <% end %>
    </div>
    <!-- category - card -- end -->
  </div>
<%#= render 'shared/footer' %>
