<!-- app/views/shared/_errors.html.erb -->
<% if object.errors.any? %>
  <div id="error_explanation" class="bg-red-500 text-white px-4 py-2 rounded mt-2 mb-4 text-center">
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
