<%# app/views/shared/_footer.html.erb %>
<div class="bg-gray-800">
  <footer class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="mb-16 grid grid-cols-2 gap-12 pt-10 md:grid-cols-4 lg:grid-cols-6 lg:gap-8 lg:pt-12">
      <div class="col-span-full lg:col-span-2">
        <!-- logo - start -->
        <div class="mb-4 lg:-mt-2">
          <a href="/" class="inline-flex items-center gap-2 text-xl font-bold text-gray-100 md:text-2xl" aria-label="logo">
            PromptShare
          </a>
        </div>
        <!-- logo - end -->


        <!-- social - start -->
        <div class="flex gap-4">
          <!-- Social icons... -->
        </div>
        <!-- social - end -->
      </div>

      <!-- nav - start -->
      <div>
        <div class="mb-4 font-bold uppercase tracking-widest text-gray-100">Products</div>

        <nav class="flex flex-col gap-4">
          <div>
            <a href="#" class="text-gray-400 transition duration-100 hover:text-blue-600 active:text-indigo-600">利用規約</a>
          </div>
        </nav>
      </div>
      <!-- nav - end -->

      <!-- nav - start -->
      <div>
        <div class="mb-4 font-bold uppercase tracking-widest text-gray-100">Company</div>

        <nav class="flex flex-col gap-4">
          <div>
            <a href="#" class="text-gray-400 transition duration-100 hover:text-blue-600 active:text-indigo-600">プライバシーポリシー</a>
          </div>
        </nav>
      </div>
      <!-- nav - end -->

      <!-- nav - start -->
      <div>
        <div class="mb-4 font-bold uppercase tracking-widest text-gray-100">Support</div>

        <nav class="flex flex-col gap-4">
          <div>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdxpsyZq3G48nOXCL9E3Z0Pr9y91aAWVJn613pOCKyGXGnhQQ/viewform" target="_blank" class="text-gray-400 underline hover:underline hover:text-blue-600 active:text-indigo-600">お問い合わせ</a>
          </div>
      </div>
      <!-- nav - end -->
  

    </div>

    <div class="border-t border-gray-800 py-8 text-center text-sm text-gray-400">© 2023 - Present PromptShare. All rights reserved.</div>
  </footer>
  </div>
</div>
