<%# app/views/_header.html.erb %>
<div class="w-full max-w-7xl">
  <div class="flex flex-col max-w-screen-xl p-5 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8"
       data-controller="menu">
    <div class="flex flex-row items-center justify-between lg:justify-start">
      <%= link_to 'PromptShare', root_path, class: 'text-lg font-bold tracking-tighter text-blue-600 transition duration-500 ease-in-out transform tracking-relaxed lg:pr-8' %>
      <button class="rounded-lg md:hidden focus:outline-none focus:shadow-outline" data-action="click->menu#toggle">
        <!-- Your SVG icons here -->
      </button>
    </div>

    <nav class="flex-col items-center flex-grow hidden pb-4 border-blue-600 md:pb-0 md:flex md:justify-end md:flex-row lg:border-l-2 lg:pl-2"
         data-menu-target="nav">
      <a class="px-4 py-2 mt-2 text-sm text-gray-500 md:mt-0 hover:text-blue-600 focus:outline-none focus:shadow-outline" href="#">About</a>
      <a class="px-4 py-2 mt-2 text-sm text-gray-500 md:mt-0 hover:text-blue-600 focus:outline-none focus:shadow-outline" href="#">Contact</a>
      <%= link_to 'Logout', login_path,class: 'px-4 py-2 mt-2 text-sm text-gray-500 md:mt-0 hover:text-blue-600 focus:outline-none focus:shadow-outline', date: {turbo_method: :delete} %>

      

      <div class="relative" data-controller="dropdown">
        <button class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm text-left text-gray-500 md:w-auto md:inline md:mt-0 hover:text-blue-600 focus:outline-none focus:shadow-outline"
                data-action="click->dropdown#toggle">
          <!-- Your button content here -->
        </button>

        <div class="absolute right-0 z-30 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48"
             style="display: none" data-dropdown-target="menu">
          <!-- Your dropdown menu content here -->
        </div>
      </div>

      <div class="inline-flex items-center gap-2 list-none lg:ml-auto">
        <%= link_to 'Sign in', login_path, class: 'items-center block px-10 py-2.5 text-base font-medium text-center text-blue-600 transition duration-500 ease-in-out transform border-2 border-white shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500' %>
        <%= link_to 'Sign up', new_user_path, class: 'items-center block px-10 py-3 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500' %>
      </div>
    </nav>
  </div>
</div>
