<!-- app/views/shared/_modal.html.erb -->
<div data-modal-target="overlay" class="fixed inset-0 bg-black bg-opacity-50 z-10 hidden">
  <div data-modal-target="content" class="bg-white rounded-lg w-1/2 mx-auto mt-10 p-6 z-20">
    <%= render 'shared/modal_content' %>
  </div>
</div>
