<%# app/views/about/show.html.erb %>
<!-- Hero Section -->
<section class="text-center p-20" style="background-image: url('/assets/image2.png'); background-position: center 70%; background-repeat: no-repeat; background-size: cover; position: relative; height: 1000px;">
  <div class="bg-white bg-opacity-50 w-full p-8 rounded-md">
    <h1 class="text-2xl mb-8">知識の大樹が育つプロンプトシティへようこそ！</h1>
    <p class="text-lg leading-relaxed">
    この都市のすべての建物、道路、そして育つ大樹、それらはすべてユーザーたちが共有するプロンプトによって作られています。各プロンプトは一枚の葉となり、この巨大な知識の大樹を構成し、未来へと伸び続けます。
    </p>
    <p class="text-lg leading-relaxed mt-4">
    この樹の葉はプログラミングの学習を助け、ユーザー同士が経験と洞察を共有する場を提供します。あなたもこの大樹の一部となり、プログラミングの旅をより充実したものにしませんか？プロンプトが何かを知りたい方はそのままスクロールしてください！
    </p>
  </div>
</section>
<!-- End of Hero Section -->

<!-- What is Prompt and How to Use it -->
<section class=" bg-white body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-wrap w-full">
   <!-- Page Title Here -->
<div class="w-full text-center mb-8">
  <h1 class="text-4xl font-bold text-gray-900">プロンプトとは何か、その使用方法</h1>
</div>
<!-- Page Title End -->

<div class="lg:w-2/3 md:w-full mx-auto">
  <p class="text-xl leading-relaxed mb-4">
    <span class="font-bold text-purple-700"> プロンプト</span>は、あなたのプログラミング学習における問題解決や新しい知識の獲得を促進する短い指示または質問です。それは、特定のコーディングテクニックの使用を指示するか、あるいは特定のプログラムの作成を求めるかもしれません。このプロンプトと言われる質問文をChatGPTのようなAIサービスに入力することで、アウトプットの可能性を広げることができます。
  </p>
  <p class="text-xl leading-relaxed mb-4">
    これらのプロンプトは、あなたが目の前の課題を解決するための洞察を得る、あるいは新しいスキルを磨くための実践的な機会を提供します。<span class="font-bold text-green-700">それぞれのプロンプトはこの知識の大樹の新たな一枚の葉となり、あなたの学習を照らす光をもたらします。</span>
  </p>
  <p class="text-xl leading-relaxed mb-4 bg-yellow-100 p-4 rounded-md">
    また、あなたが学習の過程で得た洞察や経験を新しいプロンプトとして共有することで、他の学習者の助けになり、同時にあなた自身もそのフィードバックから学ぶことができます。それぞれの共有が新たな葉を育て、全体の成長を促進する一部となります。あなたのアクションがプロンプトシティの発展に貢献します。
  </p>
  <p class="text-xl leading-relaxed">
    プロンプトはここで<span class="font-bold text-blue-700">探索したり、自分で作成したりすることができます</span>。新しいプロンプトを見つけ、試し、そして共有し、私たちと一緒にこの知識の大樹を育ててください。
  </p>
</div>

    </div>
  </div>
</section>
<!-- End of What is Prompt and How to Use it -->


<section class=" bg-white body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-wrap w-full">
      <!-- Page Title Here -->
      <div class="w-full text-center mb-8">
        <h1 class="text-2xl font-bold text-gray-900">ChatGPTを使って、生産性を上げるためのステップ</h1>
      </div>
      <!-- Page Title End -->
      <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6">
        <% about_steps = {
          1 => '最新モデルを使用する',
          2 => 'プロンプトの先頭に指示を置き、### または """ を使用して指示とコンテキストを区切ります。',
          3 => '希望するコンテキスト、結果、長さ、形式、スタイルなどについて、具体的かつ説明的かつできるだけ詳細に記載します。',
          4 => '例 (例 1、例 2 )を通じて、目的の出力形式を明確にします。',
          5 => 'ゼロショットから始めて、次に数ショット（例）、どちらも機能しなかった後、微調整します',
          6 => '「ふわふわした」不正確な説明を減らす',
          7 => '何をしてはいけないかをただ言うのではなく、代わりに何をすべきかを言う',
        } %>
        <% about_steps.each do |step, description| %>
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-gray-600 inline-flex items-center justify-center text-white relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">STEP <%= step %></h2>
            <p class="leading-relaxed"><%= description %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
