<%# app/views/about/show.html.erb %>
<section class=" bg-white body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-wrap w-full">
      <!-- Page Title Here -->
      <div class="w-full text-center mb-8">
        <h1 class="text-2xl font-bold text-gray-900">ChatGPTを使って、生産性を上げるためのステップ</h1>
      </div>
      <!-- Page Title End -->
      <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6">
        <% about_steps = {
          1 => '最新モデルを使用する',
          2 => 'プロンプトの先頭に指示を置き、### または """ を使用して指示とコンテキストを区切ります。',
          3 => '希望するコンテキスト、結果、長さ、形式、スタイルなどについて、具体的かつ説明的かつできるだけ詳細に記載します。',
          4 => '例 (例 1、例 2 )を通じて、目的の出力形式を明確にします。',
          5 => 'ゼロショットから始めて、次に数ショット（例）、どちらも機能しなかった後、微調整します',
          6 => '「ふわふわした」不正確な説明を減らす',
          7 => '何をしてはいけないかをただ言うのではなく、代わりに何をすべきかを言う',
        } %>
        <% about_steps.each do |step, description| %>
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-gray-600 inline-flex items-center justify-center text-white relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">STEP <%= step %></h2>
            <p class="leading-relaxed"><%= description %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
