/* app/assets/stylesheets/custom.css */

/* 既存のスタイル規則... */

.copy-button {
  background-color: #007BFF;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.hero-section {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('/images/hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* 画像を要素内に収まるように縮小 */
}

.hidden {
  display: none;
}

.dropdown-content {
  position: absolute;
  top: 100%; /* メニューボタンの下に配置 */
  right: 0; /* 追加 */
  width: 250px;
  background-color: white;
  z-index: 1000;
  overflow: auto; 
}


/* いいねとブックマークのボタン用のスタイル */
.button {
  background-color: white;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: lightgray;
}
