// app/assets/stylesheets/hero-section.scss

.bg-hero-1 {
  background-image: url('image1.png');
  background-position: center 60%; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;  
  height: 700px;
}


.bg-hero-2 {
  background-image: url('image2.png');
  background-position: center 70%; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;  
  height: 999px;
}
